.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.embla__slide figure,
.embla__slide figure img {
  width: 100% !important;
  height: 201px;
  object-fit: cover;
  border-radius: 12px;
}

.image-container {
  position: absolute;
  bottom: 0px;
  width: 100% !important;
  height: 201px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
